/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    background-color: #add8e6;
}

.container {
    width: 65%;
    text-align: center;
    margin: auto;
}

img {
    width: 100%;
    display: block;
    z-index: 0;
}

/* HEADER */

h1 {
    font-family: "Nerko one";
    color: white;
    font-size: 70px;
    margin-top: 10px;
}

/* MAIN */
/* Main Common */
.row {
    margin-top: 1px;
    display: inline-block;
}

.card {
    height: 200px;
    width: 170px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    margin: 8px;
    background-image: url('../img/pattern.png');
    background-size: contain;
    position: relative;
}

/* Card Details */

.card img{
    display: none;
}

.card:hover {
    background-image: none;
}

.card:hover img {
    display: block;
}

#baloon {
    background-image: none;
}

#baloon img{
    display: block;
}


/* Card Text */
.card:hover .text {
    display: block;
}

.text {
    font-family: "Nerko One";
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 45px;
    display: none;
    color: #da7a26;
}
 
.baloontext {
    font-family: "Nerko One";
    font-size: 25px;
    position: absolute;
    top: 150px;
    left: 45px;
    color: #ce468e;
}

.baloontext:hover {
    color: #da7a26
}

/* FOOTER */

h3 {
    text-align: center;
    font-family: "Nerko One";
    font-size: 20px;
    margin-top: 20px;
}


